
<!-- jQuery 3.3.1 -->
<script src="/lib/jquery/dist/jquery.min.js"></script>
<!-- Popper 1.14.3 -->
<script src="/lib/popper.js/dist/js/popper.min.js" type="javscript"></script>

<!-- Bootstrap 4.1.1 -->
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
<link rel="stylesheet" href="/public/css/sideNav.css">
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>