<nav id="sidebar">
    <div class="sidebar-header">
        <h3>EnkeyDrive</h3>
        <strong>ED</strong>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#" >
                <img src="/public/img/index.png" alt="avatar" width="50" height="50" class="profile">
                Profile
            </a>
        </li>
        <li>
            <a href="/home/dashboard" >
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-chalkboard-teacher"></i>
                About
            </a>
        </li>
        <li>
            <a href="/home/analytics">
                <i class="fas fa-chart-line"></i>
                Analytics
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-comments"></i>
                FAQ
            </a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li><a href="https://bitbucket.org/TheShrapnel/enkey-drive-app/src/master/" class="download">&nbsp;<i class="fab fa-bitbucket"></i>Download source</a></li>
    </ul>
</nav>