<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error - <%= message %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% include ../shared/_imports %>

    <style> 
        div.error-status{
            display: flex;
            align-items: center;
            justify-content: center;
            top: 20rem;
            position: relative;
        }    
        h2.error-code{
            color: red;
        }
    </style>
</head>
<body>
<div class="error-status">
    <h2 class="error-code"><%= code %></h2> <br><span><%= message %></span>
</div>
    
</body>
</html>