<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% include ../shared/_imports %>

    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/styles.css" />
    <script src="/public/js/main.js" type="javascript"></script>
    <script src="/public/js/canvasJs.js" type="javascript"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        window.onload = function() {

            var chart = new CanvasJS.Chart("chartContainer1", {
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Classified Data"
                },
                data: [{
                    type: "pie",
                    startAngle: 25,
                    toolTipContent: "<b>{label}</b>: {y}%",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabelFontSize: 16,
                    indexLabel: "{label} - {y}%",
                    dataPoints: [
                        {y: 51.08, label: "AES-256"},
                        {y: 27.34, label: "AES-192"},
                        {y: 10.62, label: "AES-128"},
                        {y: 5.02, label: "Blowfish"},
                        {y: 5.94, label: "Base64"}

                    ]
                }]
            });
            chart.render();
             var chart = new CanvasJS.Chart("chartContainer2",
                 {

                     title:{
                         text: "File size Vs Encryption time"
                     },
                     axisX: {
                         valueFormatString: "MMM",
                         interval:5,
                         intervalType: "month"
                     },
                     axisY:{
                         includeZero: false

                     },
                     data: [
                         {
                             type: "line",

                             dataPoints: [
                                 /*{ x: new Date(22,4,49), y: 450 },
                                 { x: new Date(22,10,49), y: 450 },
                                 { x: new Date(22,59,49), y: 450 },
                                 { x: new Date(22,8,49), y: 450 },*/
                                 /*{ x: new Date('Sun Feb 03 2013 22:04:49'), y: 460 },
                                 { x: new Date('22:06:49'), y: 456 },
                                 { x: new Date('22:07:49'), y: 480 },
                                 { x: new Date('22:12:49'), y: 460 },
                                 { x: new Date('22:14:49'), y: 450 },
                                 { x: new Date('22:19:49'), y: 410 },
                                 { x: new Date('22:20:49'), y: 500 },
                                 { x: new Date('22:20:49'), y: 520 },
                                 { x: new Date('22:04:49'), y: 450 }*/
                                 { x: new Date(2012, 01, 1), y: 414 },
                                 { x: new Date(2012, 01, 1), y: 520 },
                                 { x: new Date(2012, 02, 1), y: 520 },
                                 { x: new Date(2012, 03, 1), y: 520 },
                                 { x: new Date(2012, 04, 1), y: 520 },
                                 { x: new Date(2012, 01, 1), y: 480 },
                                 { x: new Date(2012, 07, 1), y: 480 },
                                 { x: new Date(2012, 08, 1), y: 410 },
                                 { x: new Date(2012, 09, 1), y: 500 },
                                 { x: new Date(2012, 10, 1), y: 480 },
                                 { x: new Date(2012, 11, 1), y: 510 }
                             ]
                         }
                     ]
                 });

             chart.render();
         }
    </script>
</head>
<body>
    <div class="wrapper">
        <% include ../shared/_sidenav.ejs %>
        <div id="content">
            <% include ../shared/_header.ejs %>
            <div class="row" >
                <div class="col-sm-12 col-md-5 col-lg-5 offset-lg-1 mb-5" id="chartContainer1" style="height: 300px;width: 100%">
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5 mb-5 ml-3" id="chartContainer2" style="height: 300px;width: 100%">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });

        });
    </script>
</body>
</html>