<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% include ../shared/_imports %>

    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/styles.css" />
    <script src="/public/js/main.js" type="javascript"></script>
</head>
<body>
<div class="wrapper">
    <% include ../shared/_sidenav.ejs %>
    <div id="content">
        <% include ../shared/_header.ejs %>
        <div class="row" >
            <div class="col-sm-10 offset-sm-1 progress">
                <div class="progress-bar bg-success"  id="pbar1" style="width:0%">
                    Low
                </div>
                <div class="progress-bar bg-warning"  id="pbar2" style="width:0%">
                    Medium
                </div>
                <div class="progress-bar bg-danger"  id="pbar3" style="width:0%">
                    High
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 mt-5">
                <div class="form-group">
                    <label for="pwd">Select a file:</label>
                    <input type="file" class="form-control" id="txtfiletoread">
                </div>
            </div>
            <div class="col-sm-3 offset-sm-4 mt-5">
                <button type="button" class="btn btn-primary">Encrypt</button>
            </div>
            <div class="col-sm-3 mt-5">
                <button type="button" class="btn btn-success">Decrypt</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        //Check the support for the File API support
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            var fileSelected = document.getElementById('txtfiletoread');
            fileSelected.addEventListener('change', function (e) {
                //Set the extension for the file
                var fileExtension = /text.*/;
                //Get the file object
                var fileTobeRead = fileSelected.files[0];
                //Check of the extension match
                if (fileTobeRead.type.match(fileExtension)) {
                    //Initialize the FileReader object to read the 2file
                    var fileReader = new FileReader();
                    fileReader.onload = function (e) {
//                 var fileContents = document.getElementById('filecontents');
//                 fileContents.innerText = fileReader.result;
                        var content=fileReader.result;
//                            document.getElementById('text').value=fileReader.result;
                        console.log(content);
                        p1 = /\bbank\b|\bcredit\b|\bdebit\b|\bdeposit\b|\bwithdrawal\b|\bpassbook\b/i;
                        p2 = /\baddress\b|\bemail\b|\baadhar\b|\bpan\b|\bpassword\b|\bcash\b/i;
                        var res=p1.test(content);
                        var res1=p2.test(content);


                        if(res==true){

//document.getElementById("status").innerHTML = "high";
                            $("#pbar1").css("width","33.34%");
                            $("#pbar2").css("width","33.33%");
                            $("#pbar3").css("width","33.33%");
                        }
                        else if(res1==true && res==false){
//document.getElementById("status").innerHTML = "medium";
                            $("#pbar1").css("width","33.34%");
                            $("#pbar2").css("width","33.34%");
                        }
                        else
                        {
//document.getElementById("status").innerHTML = "low";
                            $("#pbar1").css("width","33.34%");
                        }

                    }
                    fileReader.readAsText(fileTobeRead);
                }
                else {
                    alert("Please select text file");
                }

            }, false);
        }
        else {
            alert("Files are not supported");
        }
    }

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $('#content').toggleClass('active');
        });
    });
</script>
</body>
</html>