<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <% include ../shared/_imports %>
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/Gtext.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/progress.css" />
    <style>
        input{
            border-bottom: 1px solid #000000;
        }
    </style>
</head>
<body>
<img src="/public/img/abstract-dark-blue-polygonal-background_1035-9700.jpg" alt="" style="width:100vw;height:100vh;position:fixed;z-index:-1;opacity:0.6">

<div class="container" id="content">
    <div class="row align-items-center">
    <div class="col-lg-4 offset-lg-4" style="background-color: white;box-shadow: 5px 5px 5px;padding-left: 5vh; padding-right:5vh;padding-bottom:5vh; margin-top:4vh;border-radius: 8px">
        <div id="loder" style="display:none;margin-bottom:-20px;margin-left:-2vw;margin-right:-2vw">
            <div class="progress auto-progress" style="height: 5px;">
                <div class="progress-bar progress-bar-striped active bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height :5px;background-color:#0653cc">

                </div>
            </div>
        </div>
        <div style="padding-top:5vh">
            <div style="background-color: #132849;height: 70px; padding: 1px 2px 1px 10px;border-radius: 8px">
                <!--                        <img src="res/img/logo.png" alt="Brand Logo" width="63" height="68">-->
                <center><p style="font-size: 6vmin;padding: 1vh;color: white">enkeyDrive</p></center>
            </div>
            <br><br>
            <P style="font-size: 4vmin">Hi User,</P>
            <br>
            <center><p id="ack" style="color:red"></p></center>
            <br>
            <form id="login-form" name="frm_login" action="test.php" method="post">
                <div class="group">
                    <input id="in1" type="text" style="width: 100%" name="userid">
                    <span class="highlight" style="width: 100%"></span>
                    <span class="bar" style="width: 100%"></span>
                    <label id='lbl1' class="">Enter your User ID</label>
                </div>
                <div class="group">
                    <input id="in2" type="password" style="width: 100%" name="pass">
                    <span class="highlight" style="width: 100%"></span>
                    <span class="bar" style="width: 100%"></span>
                    <label id='lbl2' class="">Enter your Password</label>
                </div>
                <br>
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-md-8" style="padding-top:1vh">
                        <!--<a href="">Forgot Password?</a>-->
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-warning" style="width:100%;background-color:#0653cc; color:white " id="login" onclick="otpForm()">LogIn</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#login-form').on('submit',function (e) {
            e.preventDefault();
            $('#ack').html("");

            // console.log($('#ptime').val());
            $.ajax({
                url: "",
                type: "POST",
                data: {
                    userid: $('#in1').val(),
                    pass: $('#in2').val(),
                },

                success: function (data) {
                    if (data.includes('true'))
                        window.location.href = 'test.php';
//                        $('#login-form').submit();
                    else
                        $('#ack').html(data);

                }
            });
        });

        $(document).ajaxStart(function () {
            $("#loder").css("display", "block");
        });
        $(document).ajaxComplete(function () {

            $("#loder").css("display", "none");
            clearInput();
        });
    });
    function clearInput() {      /*this jQuery function used to clear all fields after submission*/

        $('#in2').val('');

    }



</script>
</body>

</html>